{% extends 'main/base.html' %}

{% block title %}
О нас
{% endblock %}

{% block content %}
<div class="container py-4">

    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Берсерк</h1>
        <p class="col-md-8 fs-4">Культовое Аниме Про человека, который потерял все, но продоржает боротся.</p>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2>Гатс.</h2>
          <p>Гатс или же Черный Мечник, Наемник,Командир штурмового отряда Сокола,Герой столетней войны,Мастер Меча,Убийца сотни,Охотник на Демонов,Смог выжить во время затмения, Характер жесток и ценичен,Не женат</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
          <h2>Гриффит</h2>
          <p>Гриффит или же Белый Ястреб,Наемник,Маркиз отряда Сокола,5 Член Длани Господни,Бывший союзник Гатса </p>
        </div>
      </div>
    </div>

    <footer class="pt-3 mt-4 text-body-secondary border-top">
      © 2024
    </footer>
  </div>
{% endblock %}

