{% extends 'main/base.html' %}

{% block title %}
О нас
{% endblock %}

{% block content %}
<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Мемы Берсерк</h1>
        <p class="lead text-body-secondary">Это шапка с мемами по Берсерку надеюсь вам будет весело!</p>
        <p>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
               <img src="https://basket-15.wbbasket.ru/vol2367/part236799/236799250/images/c516x688/1.webp" class="d-block w-150 h-150" alt="...">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" href="https://basket-15.wbbasket.ru/vol2367/part236799/236799250/images/c516x688/1.webp">view</a>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
             <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMpBdtihn-p168iSnJAE6cZA8W4YilYz5RlA&s" class="d-block w-150 h-150" alt="...">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                   <a class="btn btn-sm btn-outline-secondary" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMpBdtihn-p168iSnJAE6cZA8W4YilYz5RlA&s">view</a>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
         <img src="https://i.redd.it/fbnabki0kzm51.jpg" class="d-block w-150 h-150" alt="...">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a class="btn btn-sm btn-outline-secondary" href="https://i.redd.it/fbnabki0kzm51.jpg">view</a>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
           <img src="https://i.pinimg.com/236x/b6/a9/61/b6a9617dd43dd65fb0338c88a7bc8cb2.jpg" class="d-block w-150 h-150" alt="...">
            <div class="card-body">  <
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
               <a class="btn btn-sm btn-outline-secondary" href="https://i.pinimg.com/236x/b6/a9/61/b6a9617dd43dd65fb0338c88a7bc8cb2.jpg">view</a>
                <small class="text-bhttps://i.pinimg.com/236x/b6/a9/61/b6a9617dd43dd65fb0338c88a7bc8cb2.jpgody-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://i.pinimg.com/236x/6d/a5/c2/6da5c233309d115615e64614cd14aa82.jpg" class="d-block w-150 h-150" alt="...">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" href="https://i.pinimg.com/236x/6d/a5/c2/6da5c233309d115615e64614cd14aa82.jpg">view</a>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMICFc-IQol-7hgCeMdxQWvmaG4rW5abZQSg&s" class="d-block w-150 h-150" alt="...">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMICFc-IQol-7hgCeMdxQWvmaG4rW5abZQSg&s">view</a>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
             <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtaR8eCAEBipLPZmJGBg8SBTUzpmuIqgr72g&s" class="d-block w-150 h-150" alt="...">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                 <a class="btn btn-sm btn-outline-secondary" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtaR8eCAEBipLPZmJGBg8SBTUzpmuIqgr72g&s">view</a>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://i.imgflip.com/80auj2.jpg" class="d-block w-150 h-150" alt="...">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" href="https://i.imgflip.com/80auj2.jpg">view</a>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <img src="https://i.redd.it/b80sdph4jr451.jpg" class="d-block w-150 h-150" alt="...">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" href="https://i.redd.it/b80sdph4jr451.jpg">view</a>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
{% endblock %}

