{% extends 'main/base.html' %}

{% block title %}
О нас
{% endblock %}

{% block content %}
<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Гифки Берсерк</h1>
        <p class="lead text-body-secondary">Это шапка с гифками по Берсерку надеюсь вам будет весело!</p>
        <p>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
               <img src="https://media1.tenor.com/m/8AaYZ3Jqf-8AAAAC/get-real.gif" class="d-block w-150 h-150" alt="...">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" href="https://media1.tenor.com/m/8AaYZ3Jqf-8AAAAC/get-real.gif">view</a>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
             <img src="https://media1.tenor.com/m/I228NH0_IIkAAAAC/guts.gif" class="d-block w-150 h-150" alt="...">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                   <a class="btn btn-sm btn-outline-secondary" href="https://media1.tenor.com/m/I228NH0_IIkAAAAC/guts.gif">view</a>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
         <img src="https://media.tenor.com/xYBJOY4gulYAAAAi/berserk-chad.gif" class="d-block w-150 h-200" alt="...">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a class="btn btn-sm btn-outline-secondary" href="https://media.tenor.com/xYBJOY4gulYAAAAi/berserk-chad.gif">view</a>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
           <img src="https://media1.tenor.com/m/WzN9_7yC6HoAAAAC/griffith-dance.gif" class="d-block w-150 h-150" alt="...">
            <div class="card-body">  <
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
               <a class="btn btn-sm btn-outline-secondary" href="https://media1.tenor.com/m/WzN9_7yC6HoAAAAC/griffith-dance.gif">view</a>
                <small class="text-bhttps://i.pinimg.com/236x/b6/a9/61/b6a9617dd43dd65fb0338c88a7bc8cb2.jpgody-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://media.tenor.com/oCuiiJgFyTUAAAAC/casca-berserk.gif" class="d-block w-150 h-150" alt="...">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" href="https://media.tenor.com/oCuiiJgFyTUAAAAC/casca-berserk.gif">view</a>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}

