{% extends 'main/base.html' %}

{% block title %}
Корзина
{% endblock %}

{% block content %}


  <main class="px-3">
    <h1 _msttexthash="4669704" _msthash="10">Покупка Манги.</h1>
    <p class="lead" _msttexthash="206371919" _msthash="11">По поводу покупке Манги 'Берсерк' писать владельцу сайтав приложение telegram: @Gutts1.</p>
    <p class="lead">
    </p>
  </main>

  <footer class="mt-auto text-white-50">
    <p _msttexthash="6305923" _msthash="13">Шаблон обложки для <a href="https://getbootstrap.com/" class="text-white" _istranslated="1">Bootstrap</a>, автор <a href="https://twitter.com/mdo" class="text-white" _istranslated="1">@mdo</a>.</p>
  </footer>
</div>
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>




{% endblock %}
