{% extends 'main/base.html' %}

{% block title %}
О нас
{% endblock %}

{% block content %}
<div class="col-lg-8 mx-auto p-4 py-md-5">

  <main>
    <h1 class="text-body-emphasis" _msttexthash="2681029" _msthash="8">Berserk (moon. ベルセルク виаб. Берусеруку, также Бисерк, Берсер, Сякера) — хардкорная фэнтези-манга про Гриффита за авторством Кэнтары Миуры, а также её аниме−адаптация на зомбоящике. Впервые появилась аж в 1989 году, и с тех пор периодически штопается в журнале «Young Animal». Отличается наличием обилия дарк-фэнтезийных монстров, кровищи, мясища, эпичной драмы, а также тяжёлых психологических переживаний героев и практически полным отсутствием фансервиса и анимешных штампов.</h1>


    <hr class="col-3 col-md-2 mb-5">

    <div class="row g-5">
      <div class="col-md-6">
        <h2 class="text-body-emphasis" _msttexthash="3273127" _msthash="11">О чем это?</h2>
        <p _msttexthash="140250240" _msthash="12">Действие Berserk происходит в альтернативном мире, атмосфере мрачного средневековья, накшталт европейских тёмных веков (хотя по уровню развития технологий — полные доспехи, порох — тянет скорее на позднее средневековье или даже ранний Ренессанс) и повествует нам о неудачах главного героя Гатса в карьерном росте и попытке расставить всё на свои места и всех в нужные позы. Главным образом герою в этом способствовал лучший друг и командир Гриффит, который сумел не только помочь Гатсу добиться успеха и популярности.</p>
        <ul class="list-unstyled ps-0">


        </ul>
      </div>
    </div>
  </main>
</div>
{% endblock %}

